{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/article-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section>
  <div class="divs">
    <h1>{{ article.title }}</h1>
    <h3>{{ article.publication }}</h3>
    <h3>{{ article.date_published }}</h3>
  </div>
  <hr>
  <div class="divs">
    <h4>Notes:</h4>
    <p>{{ article.notes }}</p>
  </div>
<hr>  
  <div class="divs">
    <h4>Article:</h4>
    <p class="articlebody">{{ article.body }}</p>
  </div>
  <div class="divs" id='editbutton'>
      <a href="{% url 'articles_update' article.id %}" class="btn warn">Edit</a>
      <a href="{% url 'articles_delete' article.id %}" class="btn danger">Delete</a>
  </div>
  <div class="divs" id="printurl">
    <h5>Added on {{ article.date_added }}</h5>
    <h5>{{ article.link }}</h5>
  </div>

</section>

{% endblock %}