{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/article-index.css' %}"/>
{% endblock %}

{% block content %}


<section>
  <h1>ARTICLES</h1>
  <table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Publisher</th>
			<th>Date of Publication</th>
      <th>Added On</th>
	</thead>
	<tbody>
  {% for article in articles %}
		<tr>
			<td><a href="{% url 'articles_detail' article.id %}">{{ article.title }}</a></td>
			<td>{{ article.publication }}</td>
			<td>{{ article.date_published }}</td>
      <td>{{ article.date_added }}</td>
	</tbody>
  {% endfor %}
  </table>
    {% comment %} <div class="card">
      <a href="{% url 'articles_detail' article.id %}">
        <div class="card-content">
          <h2 class="card-title">{{ article.title }}</h2>
          <h4>{{ article.publication }}</h4>
          <h4>Published: {{ article.date_published }}</h4>
          <h4>Added on {{ article.date_added }}</h4>
        </div>
      </a>
    </div> {% endcomment %}
</section>

{% endblock %}