{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<h1>
  {% if object %}
    <h1 class="heading">EDIT ARTICLE</h1>
  {% else %}
    <h1 class="heading">ADD ARTICLE</h1>
  {% endif %}
</h1>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table class="editform">
    {{ form.as_table }}
  </table>
  {% if object %}
  <div class="divs" id='savebutton'>
      <a href="{% url 'articles_detail' article.id %}" class="btn warn">Cancel</a>
      <button type="submit"  class="btn warn">Save Changes</button>
  </div>
  {% else %}
    <button type="submit" class="btn submit">Submit</button>
  {% endif %}
</form>

{% endblock %}