{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if object %}
    <h1>Edit Article</h1>
  {% else %}
    <h1>Add Article</h1>
  {% endif %}
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  {% if object %}
    <button type="submit" class="btn submit">Save Changes</button>
  {% else %}
    <button type="submit" class="btn submit">Submit</button>
  {% endif %}
</form>

{% endblock %}