{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
{% comment %} 
<section>
  <h1 class="heading">NOTEWORTHY</h1>
</section> {% endcomment %}

{% if not user.is_authenticated %}
  <section>
  <h1 class="heading">NOTEWORTHY</h1>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
    <h4>Don't have an account? Sign up <a href="{% url 'signup' %}"> here.</a></h4>
  </section>
{% endif %}

{% endblock %} 