.confirmation {
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.8em;
  margin-top: 3em;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

#deletebutton {
  margin-top: 3px;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}